$nav-bg: #242526;
$nav-bg-accent: #484a4d;
$nav-text-color: #dadce1;
$nav-size:60px;
$nav-border: 1px solid #474a4d;
$nav-border-radius: 8px;
$nav-speed: 500ms;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $nav-text-color;
    text-decoration: none;
}